<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Argo</title>
    <link rel="stylesheet" href="stylesheets/all.min.css" />
    <link rel="stylesheet" href="stylesheets/tailwind.min.css" />
    <link rel="stylesheet" href="stylesheets/custom.css" />
</head>
<body>
    <div id="wrapper" class="text-white h-screen overflow-hidden relative pr-2" style="font-family: 'Roboto';">
        <toolbar></toolbar>
        <div class="flex h-full">
            <div class="w-16 shadow relative bg-gray-900 text-center z-20" style="-webkit-app-region: no-drag;">
                <router-link to="/" class="block mt-4 text-2xl hover:text-blue-400 fal fa-layer-group" exact-active-class="text-blue-400"></router-link>
                <router-link to="/terminal" class="block mt-6 text-2xl hover:text-blue-400 fal fa-stream relative" exact-active-class="text-blue-400">
                    <div class="fas fa-exclamation-triangle text-red-500 absolute top-0 right-0 text-xs mr-3 -mt-1" v-if="$store.state.hasNewErrors"></div>
                </router-link>
                <router-link to="/import" class="block text-xl mt-6 hover:text-blue-400 fal fa-cloud-download" exact-active-class="text-blue-400"></router-link>
                <router-link to="/new" class="block mt-6 text-2xl hover:text-blue-400 fal fa-plus" exact-active-class="text-blue-400"></router-link>
                <div class="absolute bottom-0 left-0 text-center w-full">
                    <router-link to="/settings" class="block text-2xl mb-4 w-full hover:text-blue-400 fal fa-tools" exact-active-class="text-blue-400"></router-link>
                </div>
            </div>
            <router-view :key="$route.fullPath" class="flex-1 overflow-auto mb-4 pr-2 pl-4 mt-10"></router-view>
        </div>
        <system-check></system-check>
        <command-bus></command-bus>
    </div>

    <script src="javascripts/main/vue.js"></script>
    <script src="javascripts/renderer/application.js"></script>
</body>
</html>
