<template>
    <div>
        <div class="pt-16 mt-2" v-if="projects.length === 0">
            <p class="flex items-center ml-2"><em class="far fa-long-arrow-left mr-3 text-lg"></em><span class="text-sm">Create your first project.</span></p>
        </div>
        <div v-else>
            <div class="flex items-center justify-between mb-2">
                <div class="text-xs relative" v-if="projects.length > 1">
                    <button type="button" class="flex justify-start items-center focus:outline-none" @click="openMenu">
                        <div>{{ sortLabel }}</div>
                        <em class="far fa-chevron-down pl-2 cursor-pointer"></em>
                    </button>
                    <div class="absolute left-0 top-0 mt-6 bg-gray-600 px-3 py-2 rounded-sm leading-tight z-10" :class="[sortOpen ? '' : 'hidden']">
                        <button type="button" class="block w-full hover:text-blue-300 text-left" v-for="option in options" :key="option.key" :class="[option.key !== 'alpha' ? 'mt-1' : '']" @click="changeOrder(option.key)">
                            <em class="fa fa-chevron-right mr-1 opacity-50"></em> {{ option.label }}
                        </button>
                    </div>
                </div>
                <input type="text" v-model="search" placeholder="Search" class="bg-gray-800 text-white border border-gray-600 text-xs px-2 py-1 rounded">
            </div>
            <project v-for="project in projectFeed" :project="project" :key="project.path" @delete="removeProject"></project>
        </div>
    </div>
</template>

<script>
import Project from '@/components/Project.vue';

export default {
    components: {
        Project,
    },

    data() {
        return {
            options: [{
                key: 'alpha',
                label: 'Alphabetical',
            }, {
                key: 'new',
                label: 'Newest',
            }, {
                key: 'old',
                label: 'Oldest',
            }, {
                key: 'recent',
                label: 'Recently Used',
            }],
            sortOpen: false,
            sortOrder: 'new',
            projects: [],
            search: '',
        };
    },

    computed: {
        sortLabel() {
            return this.options.find(option => option.key === this.sortOrder).label;
        },
        projectFeed() {
            if (this.search.length === 0) {
                return this.projects;
            }

            return this.projects.filter((project) => {
                return project.name.includes(this.search) || project.domain.includes(this.search) || project.path.includes(this.search);
            });
        },
    },

    methods: {
        removeProject(path) {
            const projects = window.storage.get('projects', []);
            const index = projects.findIndex(project => project.path === path);

            projects.splice(index, 1);

            window.storage.set('projects', projects);

            this.sortProjects();
        },
        openMenu(event) {
            event.stopPropagation();

            if (this.sortOpen) {
                return this.closeMenu();
            }

            this.sortOpen = true;
            document.body.addEventListener('click', this.closeMenu);
        },
        closeMenu(folder = null) {
            this.sortOpen = false;
            document.body.removeEventListener('click', this.closeMenu);
        },
        changeOrder(order) {
            this.sortOrder = order;
            this.sortOpen = false;
            this.sortProjects();

            window.storage.set('sortOrder', order);
        },
        sortProjects() {
            switch(this.sortOrder) {
                case 'alpha':
                    this.sortAlpha();
                    break;
                case 'old':
                    this.sortByOldest();
                    break;
                case 'new':
                    this.sortByNewest();
                    break;
                case 'recent':
                    this.sortByUsage();
                    break;
            };
        },
        sortByNewest() {
            this.projects = window.storage.get('projects', []).slice().reverse();
        },
        sortByOldest() {
            this.projects = window.storage.get('projects', []).slice();
        },
        sortAlpha() {
            this.projects = window.storage.get('projects', []).slice().sort((a, b) => {
                const nameA = a.name.toUpperCase();
                const nameB = b.name.toUpperCase();

                if (nameA < nameB) {
                    return -1;
                }

                if (nameA > nameB) {
                    return 1;
                }

                return 0;
            });
        },
        sortByUsage() {
            this.projects = window.storage.get('projects', []).slice().sort((a, b) => {
                return parseInt(b.lastRun, 10) - parseInt(a.lastRun, 10);
            });
        },
    },

    mounted() {
        this.sortOrder = window.storage.get('sortOrder', 'new');
        this.sortProjects();

        eventbus.$on('projects:sort', this.sortProjects);
    },

    beforeDestroy() {
        eventbus.$off('projects:sort', this.sortProjects);
    },
};
</script>
