<template>
    <form class="block" @submit="create">
        <label class="block uppercase text-sm font-bold pb-1">Folder</label>
        <directory-selector v-model="folder" :class="[errors.includes('folder') ? 'border-red-400' : 'border-gray-500']" @input="checkFolderContents"></directory-selector>

        <label class="block uppercase text-sm font-bold pb-1 mt-4">Git Repo</label>
        <input type="text" class="bg-gray-700 border px-3 py-2 w-full" v-model="gitrepo" :class="[errors.includes('gitrepo') ? 'border-red-400' : 'border-gray-500']">
        <p class="text-xs mt-1">{{ placeholder }}</p>

        <div class="flex items-center p-3 mt-4" v-show="directoryNotEmpty":class="[errors.includes('clearDirectory') ? 'bg-red-800' : 'bg-gray-700']">
            <label class="flex-1 text-sm">Confirm loss of directory contents</label>
            <toggle v-model="clearDirectory"></toggle>
        </div>

        <div class="text-right mt-4">
            <button type="button" class="bg-teal-700 text-white px-4 py-2 leading-tight text-sm uppercase font-bold outline-none" v-if="running"><i class="fas fa-spinner fa-spin mr-2"></i> Importing</button>
            <button type="submit" class="bg-teal-700 text-white px-4 py-2 leading-tight text-sm uppercase font-bold outline-none" v-else>Import</button>
        </div>
    </form>
</template>

<script>
import fs from 'fs-extra';
import DirectorySelector from '@/components/DirectorySelector.vue';
import Toggle from '@/components/Toggle.vue';

export default {
    components: {
        DirectorySelector,
        Toggle,
    },

    data() {
        return {
            clearDirectory: false,
            directoryNotEmpty: null,
            errors: [],
            folder: '',
            gitrepo: '',
            provider: '',
            running: false,
        };
    },

    computed: {
        placeholder() {
            if (this.gitrepo.length < 2) {
                return '';
            }

            let string = '';
            let repo = this.gitrepo.split('/');

            if (this.gitrepo.indexOf('http') >= 0) {
                repo.splice(0, 3);
            } else if (this.gitrepo.indexOf('git@') >= 0) {
                const user = repo[0].split(':');
                repo[0] = user[1];
            }

            string += `git@${this.provider}:${repo[0]}/${repo[1]}`;

            if (repo[1].indexOf('.git') < 0) {
                string += '.git';
            }

            return string;
        },
    },

    methods: {
        create(e) {
            e.preventDefault();

            const folder = this.folder.trim();

            this.errors = [];

            if (this.gitrepo.length === 0) {
                this.errors.push('gitrepo');
            }

            if (folder.length === 0) {
                this.errors.push('folder');
            }

            if (this.directoryNotEmpty && !this.clearDirectory) {
                this.errors.push('clearDirectory');
            }

            if (this.errors.length > 0) {
                return;
            }

            this.running = true;

            if (this.clearDirectory) {
                fs.emptyDir(folder)
                    .then(this.prepareFolder)
                    .catch(err => {
                        console.log(err);
                        this.running = false;
                    });
            } else {
                this.prepareFolder();
            }

            // @todo store which folder is being set up
            // @todo Redirect to edit project with everything turned off
        },
        checkFolderContents() {
            this.directoryNotEmpty = null;
            this.clearDirectory = false;

            fs.readdir(this.folder, (err, files) => {
                if (err) {
                    return;
                }

                this.directoryNotEmpty = files.length > 0;
            });
        },
        prepareFolder() {
            eventbus.$emit('command:run', [
                'git init',
                `git remote add origin ${this.placeholder}`,
                'git pull origin master',
            ], {
                cwd: this.folder,
            }, () => {
                // this.$store.commit('setting', null);
                this.running = false;
                this.$router.push({ path: '/new' });
            });
        },
    },

    created() {
        this.provider = window.storage.get('gitProvider', 'bitbucket.org');
    },
};
</script>

