<template>
    <form class="block" @submit="create">
        <label class="block uppercase text-sm font-bold pb-1">Config File</label>
        <file-selector v-model="file" class="border-gray-500" :filters="[{ name: 'Config File', extensions: ['js'] }]"></file-selector>

        <label class="block uppercase text-sm font-bold pb-1 mt-4">Name</label>
        <input type="text" class="bg-gray-700 border px-3 py-2 w-full" v-model="name">
        <p class="mt-1 italic text-sm text-gray-500">Leave blank to use the name set in the config file</p>

        <label class="block uppercase text-sm font-bold pb-1 mt-4">Project folder</label>
        <directory-selector v-model="folder" class="border-gray-500"></directory-selector>
        <p class="mt-1 italic text-sm text-gray-500">Leave blank to use the directory that the config file is located in</p>

        <div class="text-right mt-4">
            <button type="button" class="bg-teal-700 text-white px-4 py-2 leading-tight text-sm uppercase font-bold outline-none" v-if="running"><i class="fas fa-spinner fa-spin mr-2"></i> Importing</button>
            <button type="submit" class="bg-teal-700 text-white px-4 py-2 leading-tight text-sm uppercase font-bold outline-none" v-else>Import</button>
        </div>
    </form>
</template>

<script>
import fs from 'fs-extra';
import path from 'path';
import { slug, config } from '@/util/helpers.js';
import DirectorySelector from '@/components/DirectorySelector.vue';
import FileSelector from '@/components/FileSelector.vue';

export default {
    components: {
        DirectorySelector,
        FileSelector,
    },

    data() {
        return {
            errors: [],
            name: '',
            file: '',
            folder: '',
            running: false,
        };
    },

    methods: {
        create(e) {
            e.preventDefault();

            this.errors = [];

            if (this.file.length === 0) {
                this.errors.push('file');
            }

            if (this.errors.length > 0) {
                return;
            }

            const file = this.file.trim();
            let folder = this.folder.trim();

            if (this.folder.length === 0) {
                folder = path.dirname(file);
            }

            fs.readFile(file, 'utf8', (err, data) => {
                const projects = window.storage.get('projects', []);
                const project = JSON.parse(data.slice('module.exports = '.length, -1));

                let name = this.name;

                if (this.name.length === 0) {
                    name = project.name;
                }

                const filename = slug(name);

                project.cwd = folder;

                if (project.appendFile !== null) {
                    const appendFile = project.appendFile.slice(project.cwd.length + 1);
                    project.appendFile = path.join(folder, appendFile);
                }

                fs.writeFile(config(filename), `module.exports = ${JSON.stringify(project)};`, 'utf8', () => {});

                projects.push({
                    name,
                    path: filename,
                    folder,
                    domain: project.url !== null ? project.url : null,
                    lastRun: Date.now(),
                });

                window.storage.set('projects', projects);

                this.$router.push({ path: '/' });
            });
        },
    },
};
</script>
