<template>
    <form class="block" @submit="create">
        <label class="block uppercase text-sm font-bold pb-1">Name</label>
        <input type="text" class="bg-gray-700 border px-3 py-2 w-full" v-model="name" :class="[errors.includes('name') ? 'border-red-400' : 'border-gray-500']">

        <label class="block uppercase text-sm font-bold pb-1 mt-4">Folder</label>
        <directory-selector v-model="folder" @input="changeDomain" :class="[errors.includes('folder') ? 'border-red-400' : 'border-gray-500']"></directory-selector>

        <label class="block uppercase text-sm font-bold pb-1 mt-4">Resources</label>
        <div class="flex items-center w-full">
            <input type="text" class="bg-gray-700 border border-gray-500 px-3 py-2 flex-1 min-w-0" v-model="input">
            <em class="far fa-long-arrow-right px-4"></em>
            <input type="text" class="bg-gray-700 border border-gray-500 px-3 py-2 flex-1 min-w-0" v-model="output">
        </div>

        <div class="flex items-start mt-6 bg-gray-700 px-3 py-2 cursor-pointer" @click="viewBrowsersync = !viewBrowsersync">
            <div class="flex-1">
                <p class="uppercase text-sm font-bold">Browsersync</p>
                <p class="text-xs text-gray-400" v-show="browsersync">{{domain}}</p>
            </div>
            <toggle v-model="browsersync"></toggle>
        </div>
        <div class="mb-1 bg-gray-900 px-4 overflow-hidden" :class="[viewBrowsersync ? 'h-auto py-3' : 'h-0']">
            <label class="block uppercase text-sm font-bold pb-1">Domain</label>
            <input type="text" class="bg-gray-700 border border-gray-500 px-3 py-2 w-full text-sm" v-model="domain">

            <label class="block uppercase text-sm font-bold pb-1 mt-4">Watch Paths</label>
            <textarea class="bg-gray-700 border border-gray-500 px-3 py-2 w-full text-sm" placeholder="Place each path on a new line" v-model="watch"></textarea>
        </div>

        <div class="flex items-start mt-1 bg-gray-700 px-3 py-2 cursor-pointer" @click="viewJs = !viewJs">
            <div class="flex-1">
                <p class="uppercase text-sm font-bold">JavaScript</p>
                <p class="text-xs text-gray-400" v-show="js">{{input}}/{{jsIn}} <em class="far fa-long-arrow-right mx-1"></em> {{output}}/{{jsOut}}</p>
            </div>
            <toggle v-model="js"></toggle>
        </div>
        <div class="mb-1 bg-gray-900 px-4 overflow-hidden" :class="[viewJs ? 'h-auto py-3' : 'h-0']">
            <div class="flex items-end w-full">
                <div class="flex-1">
                    <label class="block uppercase text-sm font-bold pb-1">Input</label>
                    <input type="text" class="bg-gray-700 border border-gray-500 px-3 py-2 w-full min-w-0 text-sm" v-model="jsIn">
                </div>
                <em class="far fa-long-arrow-right px-4 mb-3"></em>
                <div class="flex-1">
                    <label class="block uppercase text-sm font-bold pb-1">Output</label>
                    <input type="text" class="bg-gray-700 border border-gray-500 px-3 py-2 w-full min-w-0 text-sm" v-model="jsOut">
                </div>
            </div>

            <label class="block uppercase text-sm font-bold pb-1 mt-4">Filenames</label>
            <textarea class="bg-gray-700 border border-gray-500 px-3 py-2 w-full text-sm" placeholder="Place each file on a new line" v-model="entries"></textarea>
            <p class="text-xs italic text-right">Leave out the file extension.</p>
        </div>

        <div class="flex items-start mt-1 bg-gray-700 px-3 py-2 cursor-pointer" @click="viewCss = !viewCss">
            <div class="flex-1">
                <p class="uppercase text-sm font-bold">CSS</p>
                <p class="text-xs text-gray-400" v-show="css">{{input}}/{{cssIn}} <em class="far fa-long-arrow-right mx-1"></em> {{output}}/{{cssOut}}</p>
            </div>
            <toggle v-model="css"></toggle>
        </div>
        <div class="mb-1 bg-gray-900 px-4 overflow-hidden" :class="[viewCss ? 'h-auto py-3' : 'h-0']">
            <div class="flex items-end w-full">
                <div class="flex-1">
                    <label class="block uppercase text-sm font-bold pb-1">Input</label>
                    <input type="text" class="bg-gray-700 border border-gray-500 px-3 py-2 w-full min-w-0 text-sm" v-model="cssIn">
                </div>
                <em class="far fa-long-arrow-right px-4 mb-3"></em>
                <div class="flex-1">
                    <label class="block uppercase text-sm font-bold pb-1">Output</label>
                    <input type="text" class="bg-gray-700 border border-gray-500 px-3 py-2 w-full min-w-0 text-sm" v-model="cssOut">
                </div>
            </div>
        </div>

        <div class="flex items-start mt-1 bg-gray-700 px-3 py-2 cursor-pointer" @click="viewFonts = !viewFonts">
            <div class="flex-1">
                <p class="uppercase text-sm font-bold">Fonts</p>
                <p class="text-xs text-gray-400" v-show="fonts">{{input}}/{{fontsIn}} <em class="far fa-long-arrow-right mx-1"></em> {{output}}/{{fontsOut}}</p>
            </div>
            <toggle v-model="fonts"></toggle>
        </div>
        <div class="mb-1 bg-gray-900 px-4 overflow-hidden" :class="[viewFonts ? 'h-auto py-3' : 'h-0']">
            <div class="flex items-end w-full">
                <div class="flex-1">
                    <label class="block uppercase text-sm font-bold pb-1">Input</label>
                    <input type="text" class="bg-gray-700 border border-gray-500 px-3 py-2 w-full min-w-0 text-sm" v-model="fontsIn">
                </div>
                <em class="far fa-long-arrow-right px-4 mb-3"></em>
                <div class="flex-1">
                    <label class="block uppercase text-sm font-bold pb-1">Output</label>
                    <input type="text" class="bg-gray-700 border border-gray-500 px-3 py-2 w-full min-w-0 text-sm" v-model="fontsOut">
                </div>
            </div>

            <label class="block uppercase text-sm font-bold pb-1 mt-4">Append Location</label>
            <input type="text" class="bg-gray-700 border border-gray-500 px-3 py-2 w-full text-sm" v-model="appendFile">

            <label class="block uppercase text-sm font-bold pb-1 mt-4">Append Template</label>
            <input type="text" class="bg-gray-700 border border-gray-500 px-3 py-2 w-full text-sm" v-model="appendTemplate">
        </div>

        <div class="flex items-start mt-1 bg-gray-700 px-3 py-2 cursor-pointer" @click="viewImages = !viewImages">
            <div class="flex-1">
                <p class="uppercase text-sm font-bold">Images</p>
                <p class="text-xs text-gray-400" v-show="images">{{input}}/{{imagesIn}} <em class="far fa-long-arrow-right mx-1"></em> {{output}}/{{imagesOut}}</p>
            </div>
            <toggle v-model="images"></toggle>
        </div>
        <div class="mb-1 bg-gray-900 px-4 overflow-hidden" :class="[viewImages ? 'h-auto py-3' : 'h-0']">
            <div class="flex items-end w-full">
                <div class="flex-1">
                    <label class="block uppercase text-sm font-bold pb-1">Input</label>
                    <input type="text" class="bg-gray-700 border border-gray-500 px-3 py-2 w-full min-w-0 text-sm" v-model="imagesIn">
                </div>
                <em class="far fa-long-arrow-right px-4 mb-3"></em>
                <div class="flex-1">
                    <label class="block uppercase text-sm font-bold pb-1">Output</label>
                    <input type="text" class="bg-gray-700 border border-gray-500 px-3 py-2 w-full min-w-0 text-sm" v-model="imagesOut">
                </div>
            </div>
        </div>

        <div class="text-right mt-4">
            <button type="submit" class="bg-teal-700 text-white px-4 py-2 leading-tight text-sm uppercase font-bold outline-none">Create</button>
        </div>
    </form>
</template>

<script>
import fs from 'fs';
import path from 'path';
import { slug, config } from '@/util/helpers.js';
import DirectorySelector from '@/components/DirectorySelector.vue';
import Toggle from '@/components/Toggle.vue';

export default {
    components: {
        DirectorySelector,
        Toggle,
    },

    data() {
        return {
            errors: [],
            viewBrowsersync: false,
            viewJs: false,
            viewCss: false,
            viewFonts: false,
            viewImages: false,
            name: '',
            folder: '',
            input: 'src',
            output: 'dist',
            browsersync: true,
            domain: 'https://arcadia.vm',
            watch: '',
            js: true,
            jsIn: 'js',
            jsOut: 'js',
            entries: '',
            css: true,
            cssIn: 'css',
            cssOut: 'css',
            fonts: true,
            fontsIn: 'fonts',
            fontsOut: 'fonts',
            appendFile: '',
            appendTemplate: '',
            images: true,
            imagesIn: 'img',
            imagesOut: 'img',
        };
    },

    methods: {
        changeDomain(value) {
            const folder = path.parse(value);
            this.domain = `https://${folder.name}.vm`;
        },
        dataStructure(type) {
            let resource = null;

            if (this[type]) {
                if (this[`${type}In`] === this[`${type}Out`]) {
                    resource = this[`${type}In`];
                } else {
                    resource = {
                        in: this[`${type}In`],
                        out: this[`${type}Out`],
                    };
                }
            }

            return resource;
        },
        create(e) {
            e.preventDefault();

            const name = this.name.trim();
            const folder = this.folder.trim();

            this.errors = [];

            if (name.length === 0) {
                this.errors.push('name');
            }

            if (folder.length === 0) {
                this.errors.push('folder');
            }

            if (this.errors.length > 0) {
                return;
            }

            const fileData = {
                name: name.trim(),
                cwd: folder,
                src: this.input,
                dest: this.output,
                url: this.browsersync ? this.domain : null,
                watch: this.watch.length > 0 ? this.watch.split("\n") : [],
                js: this.dataStructure('js'),
                entries: this.entries.length > 0 ? this.entries.split("\n") : [],
                fonts: this.dataStructure('fonts'),
                appendFile: this.appendFile.length > 0 ? path.join(folder, this.appendFile) : null,
                appendTemplate: this.appendTemplate.length > 0 ? this.appendTemplate : null,
                css: this.dataStructure('css'),
                img: this.dataStructure('images'),
            };

            const filename = slug(name);
            const projects = window.storage.get('projects', []);

            fs.writeFile(config(filename), `module.exports = ${JSON.stringify(fileData)};`, 'utf8', () => {});

            projects.push({
                name,
                path: filename,
                folder,
                domain: this.browsersync ? this.domain : null,
                lastRun: null,
            });

            window.storage.set('projects', projects);

            this.$router.push({ path: '/' });
        },
    },
};
</script>
