<template>
    <div ref="settings">
        <label class="block uppercase text-sm font-bold pb-1">Working directory</label>
        <directory-selector name="directory" v-model="directory" @input="save"></directory-selector>

        <!-- <label class="block uppercase text-sm font-bold mt-4 pb-1">Build Steps</label>
        <div class="flex bg-gray-700 items-center p-3">
            <label class="flex-1 text-sm">Open Editor</label>
            <toggle :selected="sublime" @input="sublime = $event"></toggle>
        </div>
        <div class="flex bg-gray-700 items-center p-3">
            <label class="flex-1 text-sm">Run after creation</label>
            <toggle :selected="runWhenDone" @input="runWhenDone = $event"></toggle>
        </div> -->

        <label class="block uppercase text-sm font-bold mt-4 pb-1">Default editor</label>
        <drop-down v-model="editor" @input="save">
            <option value="atom">Atom</option>
            <option value="subl">Sublime Text</option>
            <option value="code">VS Code</option>
        </drop-down>

        <label class="block uppercase text-sm font-bold mt-4 pb-1">Git Provider</label>
        <drop-down v-model="gitProvider" @input="save">
            <option value="bitbucket.org">Bitbucket</option>
            <option value="github.com">GitHub</option>
        </drop-down>

        <label class="block uppercase text-sm font-bold mt-4 pb-1">Project Feed</label>
        <div class="flex bg-gray-700 items-center p-3">
            <label class="flex-1 text-sm">Compact List</label>
            <toggle v-model="compact" @input="save"></toggle>
        </div>

        <label class="block uppercase text-sm font-bold mt-4 pb-1">Build process</label>
        <div class="flex bg-gray-700 items-center p-3">
            <label class="flex-1 text-sm">Focus console on play</label>
            <toggle v-model="focusOnPlay" @input="save"></toggle>
        </div>
        <div class="flex bg-gray-700 items-center p-3 mt-1">
            <label class="flex-1 text-sm">Clear console on stop</label>
            <toggle v-model="clearOnStop" @input="save"></toggle>
        </div>

        <div class="text-sm mt-2 flex justify-end items-center text-gray-500">
            <span class="mr-1">Version</span>
            <div v-html="version"></div>
        </div>
    </div>
</template>

<script>
import DirectorySelector from '@/components/DirectorySelector.vue';
import DropDown from '@/components/DropDown.vue';
import Toggle from '@/components/Toggle.vue';
import json from '@/../../package.json';

export default {
    components: {
        DirectorySelector,
        DropDown,
        Toggle,
    },

    data() {
        return {
            clearOnStop: false,
            compact: false,
            directory: '',
            editor: 'subl',
            focusOnPlay: false,
            gitProvider: '',
            version: '0.0.0',
        };
    },

    methods: {
        save() {
            setTimeout(() => {
                window.storage.assign({
                    compactFeed: this.compact,
                    directory: this.directory,
                    editor: this.editor,
                    focusOnPlay: this.focusOnPlay,
                    clearOnStop: this.clearOnStop,
                    gitProvider: this.gitProvider,
                });
            }, 100);
        },
    },

    mounted() {
        this.directory = window.storage.get('directory', '');
        this.editor = window.storage.get('editor', 'subl');
        this.compact = window.storage.get('compactFeed', false);
        this.focusOnPlay = window.storage.get('focusOnPlay', false);
        this.clearOnStop = window.storage.get('clearOnStop', false);
        this.gitProvider = window.storage.get('gitProvider', 'bitbucket.org');
        this.version = json.version;
    },
};
</script>

