<template>
    <div class="flex flex-col">
        <div class="flex justify-between mb-3">
            <div class="flex">
                <button type="button" class="text-xs uppercase font-bold px-3 py-1 rounded-full leading-tight focus:outline-none mr-2" @click="changeView('all')" :class="[view === 'all' ? 'bg-teal-600 cursor-text' : 'bg-gray-700 text-gray-500 hover:text-white hover:bg-gray-600']">All</button>
                <button type="button" class="text-xs uppercase font-bold px-3 py-1 rounded-full leading-tight focus:outline-none" @click="changeView('errors')" :class="[view === 'errors' ? 'bg-teal-600 cursor-text' : 'bg-gray-700 text-gray-500 hover:text-white hover:bg-gray-600']">Errors</button>
            </div>
            <button type="button" class="text-xs uppercase font-bold text-gray-300 hover:text-red-500 focus:outline-none" @click="clear">Clear</button>
        </div>
        <pre class="block flex-1 bg-gray-700 border border-gray-600 px-3 py-2 text-sm overflow-auto leading-snug" v-html="output" ref="output"></pre>
    </div>
</template>

<script>
/* global eventbus */
export default {
    computed: {
        output() {
            if (this.view === 'errors') {
                return `<div>${this.$store.state.errors.replace(/(?:\r\n|\r|\n)/g, '</div><div>')}</div>`;
            }

            return `<div>${this.$store.state.logs.replace(/(?:\r\n|\r|\n)/g, '</div><div>')}</div>`;
        },
    },

    data() {
        return {
            view: 'all',
        };
    },

    methods: {
        changeView(view) {
            this.view = view;
            this.focusBottom();
        },
        delayedFocus() {
            setTimeout(this.focusBottom, 20);
        },
        focusBottom() {
            this.$refs.output.scrollTop = this.$refs.output.scrollHeight;
        },
        clear() {
            this.$store.commit('clear');
        },
    },

    mounted() {
        this.$store.commit('errorsViewed');
        this.focusBottom();
        eventbus.$on('command:output', this.delayedFocus);
    },

    beforeDestroy() {
        eventbus.$off('command:output', this.delayedFocus);
    },
};
</script>

