<template></template>

<script>
/* global eventbus */
import { exec, spawn } from 'child_process';
import strip from 'strip-ansi';
import { ipcRenderer } from 'electron';
import kill from 'tree-kill';

export default {
    data() {
        return {
            command: null,
            queue: [],
        };
    },

    methods: {
        start(command, args = []) {
            if (this.command !== null) {
                this.stop();
            }

            this.command = spawn(command, args, {
                cwd: window.storage.get('directory'),
                shell: true,
            });

            if (this.command.pid) {
                ipcRenderer.send('new-pid', this.command.pid);
            }

            this.command.stdout.on('data', (data) => {
                const line = strip(data.toString());

                if (line.length > 0) {
                    this.$store.commit('log', line);
                    eventbus.$emit('command:output', line);
                }
            });

            this.command.stderr.on('data', (data) => {
                const line = strip(data.toString());

                if (line.length > 0) {
                    this.$store.commit('log', line);
                    this.$store.commit('error', line);
                    eventbus.$emit('command:output', line);
                }
            });

            // @todo Commit to an error log
            this.command.on('error', (err) => {
                this.$store.commit('project', null);
                this.command = null;
            });

            this.command.on('close', (code) => {
                eventbus.$emit('command:closed', code);
            });

            eventbus.$emit('command:started');
        },
        stop() {
            if (this.command.pid) {
                ipcRenderer.send('remove-pid', this.command.pid);
            }

            kill(this.command.pid);
            this.$store.commit('log', 'Command terminated\n');
            eventbus.$emit('command:stopped');
        },
        status() {
            eventbus.$emit('command:update', this.command !== null);
        },
        run() {
            const data = this.queue.shift();

            exec(data.command, Object.assign({
                cwd: window.storage.get('directory'),
                shell: true,
            }, data.options), () => {
                data.callback();

                if (this.queue.length > 0) {
                    this.run();
                }
            }, (err) => {
                console.log(err);
            });
        },
        addToQueue(command, options = {}, callback = () => {}) {
            if (typeof options === 'function') {
                callback = options;
                options = {};
            }

            if (typeof command === 'string') {
                this.queue.push({
                    command,
                    options,
                    callback,
                });
            } else {
                command.forEach((cmd, index) => {
                    this.queue.push({
                        command: cmd,
                        options,
                        callback: command.length === index + 1 ? callback : () => {},
                    });
                });
            }

            this.run();
        },
    },

    mounted() {
        eventbus.$on('command:start', this.start);
        eventbus.$on('command:stop', this.stop);
        eventbus.$on('command:status', this.status);
        eventbus.$on('command:run', this.addToQueue);
    },

    beforeDestroy() {
        eventbus.$off('command:start', this.start);
        eventbus.$off('command:stop', this.stop);
        eventbus.$off('command:status', this.status);
        eventbus.$off('command:run', this.addToQueue);
    },
};
</script>
