<template>
    <div class="relative w-full">
        <select class="appearance-none bg-gray-700 border border-gray-500 pl-3 py-2 w-full pr-10 truncate" @input="$emit('input', $event.target.value)" :value="value">
            <slot></slot>
        </select>
        <em class="far fa-chevron-down absolute top-0 right-0 mr-3 mt-3"></em>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            default: '',
        },
    },
};
</script>
