<template>
    <div class="relative bg-gray-700 border border-gray-500">
        <input type="text" ref="directory" class="bg-transparent border-none pl-3 pr-20 py-2 w-full truncate" :value="value">
        <button type="button" @click="selectFile" class="absolute right-0 top-0 bg-gray-500 text-xs py-1 px-2 mt-2 mr-2 leading-snug uppercase outline-none">Select</button>
    </div>
</template>

<script>
import electron from 'electron';

export default {
    props: {
        value: {
            type: String,
            default: '',
        },
        filters: {
            type: Array,
        },
    },

    methods: {
        selectFile() {
            electron.remote.dialog.showOpenDialog({
                defaultPath: this.value,
                properties: ['openFile'],
                filters: this.filters,
            }).then((data) => {
                if (data.canceled) {
                    return;
                }

                this.$emit('input', data.filePaths[0]);
            }).catch((err) => {
                console.log(err);
            });
        },
    },
};
</script>
