<template>
    <div class="flex justify-between items-center py-2 px-4 mb-2 bg-gray-700 border rounded" :class="[isRunning ? 'border-teal-500 bg-teal-700' : 'border-transparent']">
        <div class="mr-4">
            <button type="button" class="fas fa-stop px-2 hover:text-red-600 focus:outline-none" @click.stop="stopProject" v-if="isRunning"></button>
            <button type="button" class="far fa-play px-2 hover:text-blue-400 focus:outline-none" @click.stop="runProject" v-else></button>
        </div>
        <div class="flex-1 min-w-0">
            <p :class="[compactView ? '' : 'font-bold']">{{ project.name }}</p>
            <p class="text-xs text-gray-400 truncate" v-if="!compactView">{{ project.folder }}</p>
        </div>
        <div class="ml-4 relative">
            <router-link :to="`/edit/${project.path}`" class="px-2 hover:text-blue-400 focus:outline-none text-gray-300" v-if="!compactView">
                <em class="fal fa-pencil-ruler mr-1 w-4 text-center"></em>
            </router-link>
            <button type="button" class="far fa-ellipsis-v px-2 hover:text-blue-400 focus:outline-none text-gray-500" @click="openMenu"></button>
            <div class="absolute right-0 bg-gray-600 px-3 py-2 rounded text-xs z-10 mt-1 w-32 shadow" v-show="menu">
                <router-link :to="`/edit/${project.path}`" class="block w-full focus:outline-none py-1 text-left hover:text-blue-300">
                    <em class="fal fa-pencil-ruler mr-1 opacity-75 w-4 text-center"></em> Edit
                </router-link>
                <button type="button" class="block w-full focus:outline-none py-1 text-left hover:text-blue-300" @click="clone">
                    <em class="fal fa-clone mr-1 opacity-75 w-4 text-center"></em> Clone
                </button>
                <div class="border-t my-1 opacity-50 -mx-3"></div>
                <button type="button" class="block w-full focus:outline-none py-1 text-left hover:text-blue-300" @click="openEditor">
                    <em class="fal fa-code mr-1 opacity-75 w-4 text-center"></em> Editor
                </button>
                <button type="button" class="block w-full focus:outline-none py-1 text-left hover:text-blue-300" @click="openFolder">
                    <em class="fal fa-folder-open mr-1 opacity-75 w-4 text-center"></em> Folder
                </button>
                <button type="button" class="block w-full focus:outline-none py-1 text-left hover:text-blue-300" @click="openBrowser">
                    <em class="fal fa-browser mr-1 opacity-75 w-4 text-center"></em> Browser
                </button>
                <div class="border-t my-1 opacity-50 -mx-3"></div>
                <button type="button" class="block w-full focus:outline-none py-1 text-left hover:text-red-400" @click="deleteProject">
                    <em class="fal fa-times-octagon mr-1 opacity-75 w-4 text-center"></em> Delete
                </button>
            </div>
        </div>
    </div>
</template>

<script>
/* global eventbus */
import electron from 'electron';
import fs from 'fs';
import { storagePath, config } from '@/util/helpers.js';

export default {
    props: ['project'],

    data() {
        return {
            menu: false,
        };
    },

    computed: {
        isRunning() {
            return this.$store.state.project === this.project.folder;
        },
        compactView() {
            return window.storage.get('compactFeed', false);
        },
    },

    methods: {
        openFolder() {
            electron.shell.openItem(this.project.folder);
            this.menu = false;
        },
        openEditor() {
            eventbus.$emit('command:run', `${window.storage.get('editor', 'subl')} .`, {
                cwd: this.project.folder,
            });

            this.menu = false;
        },
        openBrowser() {
            let protocol = 'http';
            let domain = `http://${this.project.domain}`;

            if (this.project.domain.substring(0, 5) === 'https') {
                protocol += 's';
                domain = this.project.domain;
            }

            electron.shell.openExternal(this.isRunning ? `${protocol}://localhost:3000` : domain);
        },
        runProject() {
            this.$store.commit('project', this.project.folder);

            fs.unlink(storagePath('config.js'), () => {});
            fs.copyFile(config(this.project.path), storagePath('config.js'), () => {
                eventbus.$emit('command:start', 'gulp');

                const projects = window.storage.get('projects', []);
                const projectIndex = projects.findIndex(project => project.folder === this.project.folder);

                projects[projectIndex].lastRun = Date.now();

                window.storage.set('projects', projects);

                if (window.storage.get('focusOnPlay', false)) {
                    this.$router.push({ path: '/terminal' });
                } else {
                    eventbus.$emit('projects:sort');
                }
            });
        },
        stopProject() {
            this.$store.commit('project', null);
            eventbus.$emit('command:stop');

            if (window.storage.get('clearOnStop', false)) {
                this.$store.commit('clear');
            }
        },
        openMenu(event) {
            event.stopPropagation();

            if (this.menu) {
                this.menu = false;
                return;
            }

            this.menu = true;
            eventbus.$emit('project:menu', this.project.folder);
            document.body.addEventListener('click', this.closeMenu);
        },
        closeMenu(folder = null) {
            if (this.project.folder !== folder) {
                this.menu = false;
                document.body.removeEventListener('click', this.closeMenu);
            }
        },
        deleteProject() {
            if (this.$store.state.project === this.project.folder) {
                this.stopProject();
            }

            fs.unlink(config(this.project.path), () => {});
            this.$emit('delete', this.project.path);
        },
        clone() {
            const projects = window.storage.get('projects', []);
            const filename = `${this.project.path}-clone`;
            const projectName = `${this.project.name} (Copy)`;

            fs.readFile(config(this.project.path), 'utf8', (err, data) => {
                const project = JSON.parse(data.slice('module.exports = '.length, -1));

                project.name = projectName;

                fs.writeFile(config(filename), `module.exports = ${JSON.stringify(project)};`, 'utf8', () => {});

                projects.push({
                    name: projectName,
                    path: filename,
                    folder: this.project.folder,
                    domain: this.project.domain,
                    lastRun: Date.now(),
                });

                window.storage.set('projects', projects);

                this.$router.push({ path: `/edit/${filename}` });
            });
        },
    },

    mounted() {
        eventbus.$on('project:menu', this.closeMenu);
    },

    beforeDestroy() {
        eventbus.$off('project:menu', this.closeMenu);
    },
};
</script>
