<template>
    <div v-show="displayWarning" class="absolute top-0 left-0 w-full h-full z-30 flex items-center justify-center px-8 bg-gray-900" ref="warning">
        <div class="w-full" v-if="errorOccurred">
            <p class="block my-4 font-bold text-sm uppercase">An error occurred during set up</p>
            <p class="block my-4">Clone the argus repo into your directory.</p>

            <a href="https://bitbucket.org/ShaneShipston/argus" class="bg-teal-700 text-white px-4 py-2 leading-tight text-sm uppercase font-bold outline-none">Argus Repo</a>

            <p class="block mb-4 mt-6">Once you have completed that run npm install.</p>

            <code class="block w-full my-4 bg-black px-4 py-3">
                npm install --no-save
            </code>
        </div>
        <div class="w-full" v-else>
            <label class="block uppercase text-sm font-bold pb-1">Select project folder</label>
            <directory-selector v-model="directory"></directory-selector>

            <div class="text-center mt-4">
                <button type="button" class="bg-teal-700 text-white px-4 py-2 leading-tight text-sm uppercase font-bold outline-none" v-if="processRunning"><i class="fas fa-spinner fa-spin mr-2"></i> Setting up</button>
                <button type="button" class="bg-teal-700 text-white px-4 py-2 leading-tight text-sm uppercase font-bold outline-none" v-else @click="init">Initialize</button>
            </div>
        </div>
    </div>
</template>

<script>
/* global eventbus */
import fs from 'fs';
import path from 'path';
import { spawn } from 'child_process';
import DirectorySelector from '@/components/DirectorySelector.vue';

export default {
    components: {
        DirectorySelector,
    },

    data() {
        return {
            directory: '',
            displayWarning: false,
            errorOccurred: false,
            processRunning: false,
        };
    },

    methods: {
        init() {
            this.saveDirectory();
            this.cloneRepo();
        },
        saveDirectory() {
            window.storage.set('directory', this.directory);
        },
        setupFolder() {
            fs.mkdir(path.join(window.storage.get('directory'), 'configs'), () => {});
        },
        cloneRepo() {
            this.processRunning = true;

            const longRunning = spawn('git', [
                'clone',
                'https://ShaneShipston@bitbucket.org/ShaneShipston/argus.git',
                window.storage.get('directory'),
            ]);

            longRunning.on('close', (code) => {
                this.processRunning = false;

                if (code !== 0) {
                    this.errorOccurred = true;
                    return;
                }

                this.setupFolder();
                this.installPackages();
            });
        },
        installPackages() {
            this.processRunning = true;

            const longRunning = spawn('npm', [
                'install',
                '--no-save',
            ], {
                cwd: window.storage.get('directory'),
                shell: true,
            });

            longRunning.on('close', (code) => {
                this.processRunning = false;

                if (code !== 0) {
                    this.errorOccurred = true;
                    return;
                }

                this.displayWarning = false;
                eventbus.$emit('system:clear');
            });
        },
    },

    mounted() {
        if (!fs.existsSync(path.join(window.storage.get('directory'), 'node_modules'))) {
            this.displayWarning = true;

            eventbus.$emit('system:warning');
        }

        this.directory = window.storage.get('directory');
    },
};
</script>
