<template>
    <div class="w-10 bg-gray-800 h-5 px-1 py-1 cursor-pointer" @click.stop="$emit('input', !value)">
        <div class="w-1/2 h-full" :style="styles" :class="classes"></div>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: Boolean,
            default: false,
        },
    },

    computed: {
        classes() {
            return this.value ? ['bg-green-600'] : ['bg-gray-400'];
        },
        styles() {
            return {
                transform: `translateX(${this.value ? '100%' : '0'})`,
                transition: 'all 0.2s linear',
            };
        },
    },
};
</script>
