<template>
    <div class="flex justify-between items-center py-2 pr-4 pl-20 fixed top-0 left-0 w-full" :class="[zIndex]" style="-webkit-app-region: drag; background: #2a3542;">
        <div class="flex items-center">
            <!-- <button type="button" class="bg-teal-700 text-white text-xs px-2 py-1 leading-tight" style="-webkit-app-region: no-drag;">Update Available</button> -->
        </div>
        <div class="flex items-center">
            <button type="button" class="cursor-pointer focus:outline-none px-1 hover:text-blue-400 text-sm far fa-window-minimize" style="-webkit-app-region: no-drag;" @click.stop="minimize"></button>
            <button type="button" class="cursor-pointer focus:outline-none px-1 hover:text-blue-400 text-sm far fa-window-maximize" style="-webkit-app-region: no-drag;" @click.stop="maximize"></button>
            <button type="button" class="cursor-pointer focus:outline-none pl-1 hover:text-red-500 fas fa-times" style="-webkit-app-region: no-drag;" @click.stop="close"></button>
        </div>
    </div>
</template>

<script>
/* global eventbus */
import { remote } from 'electron';

export default {
    data() {
        return {
            zIndex: 'z-10',
        };
    },

    methods: {
        close() {
            remote.getCurrentWindow().close();
        },
        minimize() {
            remote.getCurrentWindow().minimize();
        },
        maximize() {
            remote.getCurrentWindow().maximize();
        },
    },

    mounted() {
        eventbus.$on('system:warning', () => {
            this.zIndex = 'z-40';
        });

        eventbus.$on('system:clear', () => {
            this.zIndex = 'z-10';
        });
    },
};
</script>
